AppKit==0.2.8
argcomplete==3.6.3
attr==0.3.2
brotli==1.2.0
brotlicffi==1.2.0.1
chardet==7.4.3
ConfigParser==7.2.0
cryptography==46.0.7
Cython==3.2.4
defusedxml==0.7.1
dl==0.1.0
docutils==0.22.4
eccodes==2.47.0
ffpyplayer==4.5.3
filelock==3.29.0
findlibs==0.1.2
Foundation==0.1.0a0.dev1
h2==4.3.0
HTMLParser==0.0.2
importlib_resources==7.1.0
inflect==7.5.0
ini2toml==0.15
ipython==9.12.0
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
jupyter_core==5.9.1
keyring==25.7.0
kivy==2.3.1
langchain==1.2.15
macholib==1.16.4
matplotlib==3.10.9
nltk==3.9.4
olefile==0.47
path.py==12.5.0
protobuf==7.34.1
psutil==7.2.2
pyenchant==3.3.0
pygraphviz==1.14
pylsl==1.18.2
pyodide==0.0.2
pyOpenSSL==26.0.0
pypemicro==0.1.11
PyQt6==6.11.0
PySide2==5.15.2.1
PySide6==6.11.0
pytest==9.0.3
pyusb==1.3.1
Quartz==0.0.1.dev0
redis==7.4.0
sentry_sdk==2.58.0
simplejson==4.1.0
Sphinx==9.1.0
thread==2.0.6
traitlets==5.14.3
trove_classifiers==2026.1.14.14
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
xattr==1.3.0
Xlib==0.21
xmlrpclib==1.0.1
xx==3.3.2
